/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v49-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v49-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */

* {
  box-sizing: border-box;
}

/* p,
h1,
h2 {
  padding: 0;
  margin: 0;
} */

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #060D10;
  margin: 0;
}

.container {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}

button {
  color: #060D10;
}

ul {
  list-style: none;
}

/* Header */

header {
  background-color: #66D1FF;
}

.header-btn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  background: #FFFFFF;
}

.header-logo {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

.phone {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
  color: #060D10;
}

/* Sections options */

.product-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
}

.product-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  text-shadow: 1px 1px 2px #060D10;
}

h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
}

.options-name {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
}

.options-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  opacity: 0.8;
}

/* Order */

.order-text {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
}

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

/* Footer */

.footer {
  background-color: #060D10;
  color: #FFFFFF;
}

.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
}

.social {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
}

.copyright {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
