/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/oswald-v49-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/oswald-v49-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */

/* Header */

.menu-link,
.header-logo,
.menu-number {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

/* About */

.product-title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
}

.product-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
}

h2 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
}

.options-name {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 53px;
}

.options-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
}

.order-text {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
}

.btn {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

/* Footer */

.social {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 33px;
}

.copyright {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
